body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mb-min3\% {
  margin-bottom: -3%;
  background-color: transparent;
}
.code-container {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1%;
  cursor: pointer;
  color: wheat;
  font-size: 1.2em !important;
  transition: transform 0.2s ease-in-out, color 0.3s ease-in-out;
  /* transition: transform 0.2s ease-in-out; */
}

.copy-button:hover {
  transform: translate(2px, -2px);
  color: slategray;
}